/* Created by SOUMYA SAHU */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Algerian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=monospace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=cursive&display=swap');

* {
     margin: 0;
     padding: 0;
}

body {
     height: 100vh;
     width: 100vw;
     overflow: hidden;
      background:url(https://image.freepik.com/free-vector/flat-design-easter-day-pattern_23-2148467101.jpg);

     background-position: center;
     background-size: cover;
     background-repeat: no-repeat; 
}

#container1 {
    position: absolute;
    width: 80vw;
    top: 10vw;
    left: 50%;
    display: flex;      
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    background-color: rgba(75,0,130,0.4);
    box-shadow: 0 0 30px 10px rgba(0,0,0,1);
    text-shadow: 3px 3px 5px rgba(0,0,0,0);
    text-align: center;
    color: rgba(210,105,30,0);    
    border-radius: 30px;
    height: 65vh;
    font-size: 2em;
    font-family: "Bangers";
    line-height: 1.5em;
}

@keyframes appear {
   100%{left:50%}
   100%{color: rgba(210,105,30,1);
   text-shadow: 3px 3px 5px rgba(0,0,0,1);}
}

button {
    position: absolute;
    top: calc(10vw + 65vh + 13vw);
    height: 9vh;
    width: 33vw;
    background-color: rgba(0,0,0,0.7);
    color: PeachPuff;
    outline: none;
    border-radius: 30px;
    border: none;
    font-family: "Fantasy";
    font-weight: bolder ;
    font-size: 1em;
}

#button1 {
    left: 10vw;
    display: none;
}
#button2 {
    right: 10vw;
    display: none;
}

#btn {
    color:rgba(255,182,193,1);
    position: absolute;
    top: calc(70vw + 65vh /2);
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 15vw;
    font-family:"monospace";
    font-weight: bolder;
    font-size:1.2em;
}

#text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vh;
    color: yellow;
    font-family: "Algerian";
}
